<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Pinterest-Clone</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">Log In</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">Log In</a></li>
      </ul>
    </div>
  </nav>


  <% flash.each do |name, msg| %>
    <!-- content_tag :div, msg, class: "" -->
    <div><%= msg %></div>
    <% end %>
  <section>
    <%= yield %>
  </section>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l10 s12">
          <h5 class="white-text">Pinterest Clone</h5>
          <p class="grey-text text-lighten-4">Add pins of your favorite images or ideas and watch them grow with
          the help of others</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="/">Home</a>
      </div>
    </div>
  </footer>

</body>
</html>
